<!DOCTYPE html>
<html>
    <head>
        <title> Weather Log </title>
    </head>
    <body>
        <h1>{{.Name}}</h1>

        <div>
            <h6>Feels Like...</h6>
            <p>
                
            </p>
        </div>
        
    </body>
</html>